
:root {
        --clr-bg: #bbc7e0;
        --clr-light: #EDE8F5;
        --clr-dark: #3D52A0;
        --clr-mid: #7091e6;
    }


 /* --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); */


  .container{
    display: grid !important;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4rem;
        margin: 1.5rem;
            margin-top: 0;
            padding: 1rem;
            padding-top: 6rem;
            margin: auto;
  }

/* body{
    margin-bottom: 1rem;
} */

/* .cont{
    gap: 3rem;
    flex-wrap: wrap;  
    margin: 1.5rem;
    margin-top: 0;
    padding: 1rem;
    padding-top: 6rem;
    
} */

/* .card {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
} */



/* nav{ 
   justify-content: space-between;
   align-items: center;
   background-color: #3D52A0;
   margin-bottom: 1.5rem;
   padding: 0.5rem 1rem;
    position: fixed;
        width: 100%;
        box-shadow:0 5px 15px rgba(0, 0, 0, 0.2);
        z-index: 4;
        margin-top: 0 ;
        }


.left-nav{
    gap: 1rem;
    font-size: 1.3rem;
}


.log-Out,
.home,
.about{
    color: #bbc7e0;
}

.logo{
    color:var(--clr-light);
}

.log-Out ,.home,.about:hover{
    cursor: pointer; 
   
}


.log-Out:hover{color: var(--clr-light); }
.home:hover{color: var(--clr-light);}
.about:hover{color: var(--clr-light);} */




@media screen and (max-width: 991px) {
   
    .container {
        grid-template-columns: 1fr 1fr;
        margin-top: 0 !important;
    }

    .card {
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
        gap: 1.9rem;

    }

}
@media screen and (max-width: 574px) {
    .container {
    gap: 1rem;
    margin:0 2rem ;
    margin: auto;
    }
}

@media screen and (max-width: 426px) {
    .container {
        grid-template-columns: 1fr;
    }
}