:root {
    --clr-bg: #bbc7e0;
    --clr-light: #EDE8F5;
    --clr-dark: #3D52A0;

    --clr-mid: #7091e6;
}


body {
    font-size: 1.2rem;
    background: rgb(148, 187, 233);
    background: radial-gradient(circle, rgba(148, 187, 233, 1) 4%, rgba(213, 222, 232, 1) 74%);
}

.container {
    margin: 2rem;
    padding: 2rem;
    border: 2px solid var(--clr-bg);
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    height: 80vh;
    margin: auto;
    margin-top: 3rem;
    background-color: var(--clr-light);
    position: relative;
}

.q-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.Remaining-q,
.time-left {
    color: #6584d1;
    text-shadow: 1px 1px 1px var(--clr-mid);
}

.q-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.options {

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.option {
    display: flex;
    gap: 1rem;
    border: 2px solid #d7dded;
    border-radius: 7px;
    padding: 0 !important;
    width: 50vw;
}

.q-text {
    margin-bottom: 1.8rem;
}

.q-btns {
    
    display: flex;
    justify-content: center;
    gap: 1rem;

    position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%)
}

button {
    background-color: var(--clr-dark) !important;
    border: 1.5px solid var(--clr-dark) !important;
}

button:hover {
    background-color: #596eba !important;
}

@media screen and (max-width: 768px) {
    .option {
        width: 80vw;
    }

    .container{
        position: static;
        margin-top: 2rem;
    }
   
}

